
# Build
src/*.exe
src/universe
src/universed
src/test_universe
src/build.h
build/

.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.universe

# Compilation and Qt preprocessor part
*.qm
Makefile
universe-qt

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store

# IntelliJ IDEA (PhpStorm, CLion, etc)
.idea

!src/leveldb/Makefile
