src/*.exe
src/universe
src/universed
src/test_universe
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.universe
#compilation and Qt preprocessor part
*.qm
Makefile
universe-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
